version: 6.0.0.{build}
image: Visual Studio 2022
configuration: Release
platform: Any CPU
skip_tags: true
skip_branch_with_pr: true
nuget:
  disable_publish_on_pr: true
install:
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.100' -InstallDir "$env:ProgramFiles\dotnet"
build_script:
- ps: dotnet --version
- ps: dotnet tool install -g Redth.Net.Maui.Check
- ps: ./update-global-json.ps1 10.0.100
- ps: dotnet build /p:VersionPrefix=10.0.3 /p:Configuration=Release
- ps: dotnet pack /p:VersionPrefix=10.0.3 /p:Configuration=Release /p:IncludeSymbols=true /p:SymbolPackageFormat=snupkg /p:EmbedUntrackedSources=true /p:PublishRepositoryUrl=true /verbosity:minimal
artifacts:
  - path: '**\NLog.*.nupkg'
  - path: '**\NLog.*.snupkg'
deploy:
- provider: NuGet
  api_key:
    secure: f6oWebyOFLpuuo2PMd6xgoxwMq+JvXVUmPyBme89zS7UF0zcvLYPSKN/p6B/KaMs
  on:
    branch: master
