version: 6.0.0.{build}
image: Visual Studio 2022
configuration: Release
platform: Any CPU
skip_tags: true
skip_branch_with_pr: true
nuget:
  disable_publish_on_pr: true
build_script:
- ps: dotnet --version
- ps: dotnet tool install -g Redth.Net.Maui.Check
- ps: ./update-global-json.ps1 9.0.300
- ps: msbuild src/NLog.Targets.MauiLog/NLog.Targets.MauiLog.csproj /t:restore,pack /p:targetFrameworks='"net9.0;net9.0-ios;net9.0-macos;net9.0-android;net9.0-maccatalyst"' /p:VersionPrefix=9.0.3 /p:Configuration=Release /p:IncludeSymbols=true /p:SymbolPackageFormat=snupkg /p:EmbedUntrackedSources=true /p:PublishRepositoryUrl=true /verbosity:minimal
- ps: dotnet build -c Release -p:VersionPrefix=9.0.3
artifacts:
  - path: '**\NLog.*.nupkg'
  - path: '**\NLog.*.snupkg'
deploy:
- provider: NuGet
  api_key:
    secure: f6oWebyOFLpuuo2PMd6xgoxwMq+JvXVUmPyBme89zS7UF0zcvLYPSKN/p6B/KaMs
  on:
    branch: master
